html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #000;
}
h1 {
  font-family: Arial;
  color: red;
  text-align: center;
}
#linkAccueil{
  display: flex;
  flex-direction: row;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}
.wrapper section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 20px 0;
}
.wrapper section .item {
  padding: 0 2px;
  transition: 250ms all;
}
.wrapper section .item:hover {
  margin: 0 40px;
  transform: scale(1.2);
}
.wrapper section a {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: #000;
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}
.wrapper section a:nth-of-type(1) {
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}
.wrapper section a:nth-of-type(2) {
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}
html{
  scroll-behavior: smooth;
  min-height: 100%;
}

body{
  background-color: rgb(11, 1, 15);
  color: white;
  margin:auto;
  font-family: Comfortaa, sans-serif;
}

header{
  background-color: rgb(112,19,109);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(255, 255, 255);
}

#logodusite{
width: 50px;
}

/* sous-header -> en gros c'est les 3
compartiments*/
.sous-header{
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  gap: 15px;
}

.image{
  height: 50px;
  width: 50px;
  background-size: cover;
}

.bouton{
height: 25px;
width: 125px;
text-align: center;
background-color: rgb(145, 39, 141);
display: flex;
align-items: center;
justify-content: center;
}


.bouton:hover{
color: white;
background-color: rgb(102, 15, 101);
}

#recherche{
height: 20px;
width: 300px;
border: solid 1px black;
}

#logoMenu{
  display: none;
  height: 45px;
  width: 45px;
}

#menu-demo2{
  display: none;
}

@media(max-width: 850px){
.bouton{
  display: none;
}
}

  
@media(max-width: 1100px){


#logoMenu{
  display: inherit;
}



#recherche{
  display: none;
}

#menu-demo2{
  display: inherit;
}


  /*menu déroulant*/
#menu-demo2, #menu-demo2 ul{
  padding:0;
  margin:0;
  list-style:none;
  text-align:center;
  }
  #menu-demo2 li{
  display:inline-block;
  position:relative;
  }
  #menu-demo2 ul li{
  display:inherit;
  border-radius:0;
  }
  #menu-demo2 ul li:hover{
  border-radius:0;
  }
  #menu-demo2 ul li:last-child{
  border-radius:0 0 8px 8px;
  }
  #menu-demo2 ul{
  position:absolute;
  z-index: 1000;
  max-height:0;
  left: 0;
  right: 0;
  overflow:hidden;
  -moz-transition: .8s all .3s;
  -webkit-transition: .8s all .3s;
  transition: .8s all .3s;
  }
  #menu-demo2 li:hover ul{
  max-height:15em;
  }
  /* background des liens menus */

  #menu-demo2 li:last-child li{
  background: rgb(88, 16, 86);
  }
  /* background des liens menus et sous menus au survol */
  
  #menu-demo2 li:last-child:hover, #menu-demo2 li:last-child li:hover{
  background:rgb(88, 16, 86);
  }
  /* les a href */
  #menu-demo2 a{
  text-decoration:none;
  display:block;
  padding:8px 10px;
  color:#fff;
  font-family:arial;
  }
  #menu-demo2 ul a{
  padding:8px 0;
  }
  #menu-demo2 li:hover li a{
  color: white;
  text-transform:inherit;
  }
  #menu-demo2 li:hover a, #menu-demo2 li li:hover a{
  color:goldenrod;
  }
/*menu déroulant*/

}


@media(max-width: 290px){
  #titre{
    display: none;
  }
}

.sous-header a{
  text-decoration:none;
  color:white;
}

/*FIN HEADER*/





/*Permet un effet Zoom sur les images*/
.image:hover{
  -webkit-transform:scale(1.25); /* Safari et Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* Internet Explorer 9 */
  -o-transform:scale(1.25); /* Opera */
  transform:scale(1.25);
}


.indicateurAccueil{
padding-left: 20px;
}

/*PARTIE CAROUSSEL*/
.wrapper {
display: grid;
grid-template-columns: repeat(3, 100%);/*3 de base*/
overflow: hidden;
scroll-behavior: smooth;
}
.wrapper section {
width: 100%;
position: relative;
display: grid;
grid-template-columns: repeat(5, auto);/*5 de base*/
margin: 20px 0;
}
.wrapper section .item {
padding: 0 2px;
transition: 250ms all;
}
.wrapper section .item:hover {
margin: 0 40px;
transform: scale(1.2);
}
.wrapper section a {
position: absolute;
color: #fff;
text-decoration: none;
font-size: 6em;
background: black;
width: 80px;
padding: 20px;
text-align: center;
z-index: 1;
}
.wrapper section a:nth-of-type(1) {
top: 0;
bottom: 0;
left: 0;
background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
display: flex;
align-items: center;
}
.wrapper section a:nth-of-type(2) {
top: 0;
bottom: 0;
right: 0;
background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
display: flex;
align-items: center;
}

.arrow__btnL{
display: flex;
justify-self:flex-start;
} 
.arrow__btnL{
display: flex;
justify-self:flex-end;
}

@media(max-width: 1597px){
  #titre{
    display: none;
  }
    .wrapper section {
      grid-template-columns: repeat(4, auto);/*5 de base*/
      overflow: hidden;
    }
    .wrapper {
      grid-template-columns: repeat(4, 100%);
  }
}
@media(max-width: 1341px){
  #titre{
    display: none;
  }
  .wrapper section a {
      font-size: 4em;
    }
    .wrapper section {
      grid-template-columns: repeat(3, auto);/*5 de base*/
      overflow: hidden;
    }
    .wrapper {
      grid-template-columns: repeat(5, 100%);
  }
}

@media(max-width: 938px){
  #titre{
    display: none;
  }
  .wrapper section a {
      font-size: 4em;
    }
    .wrapper section {
      grid-template-columns: repeat(2, auto);/*5 de base*/
      overflow: hidden;
    }
    .wrapper {
      grid-template-columns: repeat(7, 100%);
  }
}
@media(max-width: 639px){
  #titre{
    display: none;
  }
  .wrapper section a {
      font-size: 4em;
    }
    .wrapper section {
      grid-template-columns: repeat(1, auto);/*5 de base*/
      overflow: hidden;
    }
    .wrapper {
      grid-template-columns: repeat(7, 100%);
      text-align: center;
  }
}
/* fin PARTIE CAROUSSEL*/



/*FOOTER*/
footer{
  background-color: rgb(112,19,109);
  display: grid;
  grid-template: "a a a";
  align-items: center;
  justify-content: space-around;
}

.sous-footer{
  display: flex;

  align-items: center;
  gap: 15px;
}

#footer2{
display: flex;
flex-wrap: wrap;
flex-flow: row;
justify-content: center;
align-items: center;
text-align: center;
}

.petiteImages{
height: 20px;
width: 20px;
border: solid black 2px;
}

@media(max-width: 620px){

  #footer1{
    grid-area: r2;
  }
  #footer2{
    grid-area: r1;
  }
  #footer3{
    grid-area: r3;
  }

  footer{
    justify-items: center;
    padding-top: 10px; 
    flex-direction: column;
    grid-template: 
                [row1-start] "r1"  [row1-end]
                [row2-start] "r2"  [row2-end]
                [row3-start] "r3"  [row3-end]
                /* / 500px 500px 300px; */;            
  }
}
